{% macro render_page(component, tokens, path, component_id) %}
    {% set properties = component.properties | default({}) %}
    {% set components = component.components | default([]) %}
    {% set page_styles = build_styles(component, tokens, part='outer') %}

    {# Page always uses flex-direction: column, width: 100% #}
    {% set base_styles = 'display: flex; flex-direction: column; width: 100%; box-sizing: border-box;' %}

    <div class="page" data-component-id="{{ component_id }}" style="{{ base_styles }} {{ page_styles }}">
        {% if components | length > 0 %}
            {% for child in components %}
                {% set child_path = path + ['components', loop.index0] %}
                {{ render_component(child, tokens, child_path) }}
            {% endfor %}
        {% else %}
            <div class="page-placeholder">
                Click components from the sidebar to get started
            </div>
        {% endif %}
    </div>
{% endmacro %}
