{% macro render_tabs(component, tokens, path, component_id) %}
    {% set properties = component.properties | default({}) %}
    {% set tabs_list = component.tabs | default([]) %}
    {% set tabs_id = 'tabs_' ~ range(1000, 9999) | random %}
    {% set orientation = properties.layout.orientation | default('horizontal') if properties.layout else 'horizontal' %}
    {% set border_position = properties.appearance.tab.border.position | default('lower') if properties.appearance and properties.appearance.tab and properties.appearance.tab.border else 'lower' %}
    {% set tabs_vars = build_tabs_vars(component, tokens) %}

    <div class="tabs chrome-target" data-component-id="{{ component_id }}" data-orientation="{{ orientation }}" style="position: relative; {{ tabs_vars }}">
        <div class="tabs-nav">
            {% for tab in tabs_list %}
                {% set tab_index = loop.index0 %}
                {% set tab_id = tabs_id ~ '_' ~ tab_index %}
                <input type="radio" name="{{ tabs_id }}" id="{{ tab_id }}" {% if loop.first %}checked{% endif %}>
                <label for="{{ tab_id }}" data-border-position="{{ border_position }}">{{ tab.title }}</label>
            {% endfor %}
        </div>
        {% for tab in tabs_list %}
            {% set tab_index = loop.index0 %}
            <div class="tab-content{% if loop.first %} active{% endif %}">
                {% if tab.components %}
                    {% for child in tab.components | default([]) %}
                        {% set child_path = path + ['tabs', tab_index, 'components', loop.index0] %}
                        {{ render_component(child, tokens, child_path) }}
                    {% endfor %}
                {% elif tab.content %}
                    <p>{{ tab.content }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
