{% macro render_tabs(component, tokens, path, component_id, parent_direction='row') %}
    {% set properties = component.properties | default({}) %}
    {% set tabs_list = component.tabs | default([]) %}
    {% set tabs_id = 'tabs_' ~ range(1000, 9999) | random %}
    {% set orientation = properties.layout.orientation | default('horizontal') if properties.layout else 'horizontal' %}
    {% set border_position = properties.appearance.tab.border.position | default('lower') if properties.appearance and properties.appearance.tab and properties.appearance.tab.border else 'lower' %}
    {% set tabs_vars = build_tabs_vars(component, tokens) %}

    {# Width Mode Support #}
    {% set width_mode = (properties.layout.widthMode | default('stretch') | string) if properties.layout else 'stretch' %}
    {% set width_styles = [] %}
    {% set _ = width_styles.append('box-sizing: border-box;') %}
    {% if parent_direction == 'column' %}
        {% if width_mode == 'fit' %}
            {% set _ = width_styles.append('width: auto;') %}
        {% elif width_mode == '16' %}
            {% set _ = width_styles.append('width: 16.67%;') %}
        {% elif width_mode == '25' %}
            {% set _ = width_styles.append('width: 25%;') %}
        {% elif width_mode == '33' %}
            {% set _ = width_styles.append('width: 33.33%;') %}
        {% elif width_mode == '50' %}
            {% set _ = width_styles.append('width: 50%;') %}
        {% elif width_mode == '66' %}
            {% set _ = width_styles.append('width: 66.67%;') %}
        {% elif width_mode == '75' %}
            {% set _ = width_styles.append('width: 75%;') %}
        {% elif width_mode == '83' %}
            {% set _ = width_styles.append('width: 83.33%;') %}
        {% elif width_mode == 'stretch' %}
            {% set _ = width_styles.append('width: 100%;') %}
        {% endif %}
    {% else %}
        {% if width_mode == 'fit' %}
            {% set _ = width_styles.append('width: auto;') %}
            {% set _ = width_styles.append('flex: 0 0 auto;') %}
        {% elif width_mode == '16' %}
            {% set _ = width_styles.append('flex: 1 0 14%;') %}
            {% set _ = width_styles.append('max-width: 16.67%;') %}
        {% elif width_mode == '25' %}
            {% set _ = width_styles.append('flex: 1 0 23%;') %}
            {% set _ = width_styles.append('max-width: 25%;') %}
        {% elif width_mode == '33' %}
            {% set _ = width_styles.append('flex: 1 0 31%;') %}
            {% set _ = width_styles.append('max-width: 33.33%;') %}
        {% elif width_mode == '50' %}
            {% set _ = width_styles.append('flex: 1 0 48%;') %}
            {% set _ = width_styles.append('max-width: 50%;') %}
        {% elif width_mode == '66' %}
            {% set _ = width_styles.append('flex: 1 0 64%;') %}
            {% set _ = width_styles.append('max-width: 66.67%;') %}
        {% elif width_mode == '75' %}
            {% set _ = width_styles.append('flex: 1 0 73%;') %}
            {% set _ = width_styles.append('max-width: 75%;') %}
        {% elif width_mode == '83' %}
            {% set _ = width_styles.append('flex: 1 0 81%;') %}
            {% set _ = width_styles.append('max-width: 83.33%;') %}
        {% elif width_mode == 'stretch' %}
            {% set _ = width_styles.append('flex: 0 0 100%;') %}
            {% set _ = width_styles.append('min-width: 100%;') %}
        {% endif %}
    {% endif %}

    <div class="tabs chrome-target" data-component-id="{{ component_id }}" data-component-name="tabs" data-orientation="{{ orientation }}" style="position: relative; {{ tabs_vars }} {{ width_styles | join(' ') }}">
        <div class="tabs-nav">
            {% for tab in tabs_list %}
                {% set tab_index = loop.index0 %}
                {% set tab_id = tabs_id ~ '_' ~ tab_index %}
                <input type="radio" name="{{ tabs_id }}" id="{{ tab_id }}" {% if loop.first %}checked{% endif %}>
                <label for="{{ tab_id }}" data-border-position="{{ border_position }}">{{ tab.title }}</label>
            {% endfor %}
        </div>
        {% for tab in tabs_list %}
            {% set tab_index = loop.index0 %}
            <div class="tab-content{% if loop.first %} active{% endif %}">
                {% if tab.components %}
                    {% for child in tab.components | default([]) %}
                        {% set child_path = path + ['tabs', tab_index, 'components', loop.index0] %}
                        {{ render_component(child, tokens, child_path) }}
                    {% endfor %}
                {% elif tab.content %}
                    <p>{{ tab.content }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
