{% macro render_dropdown(component, tokens, path, component_id) %}
    {% set properties = component.properties | default({}) %}
    {% set label = properties.label | default({}) %}
    {% set field = properties.field | default({}) %}
    {% set options_text = field.options | default('') %}
    {% set options_list = options_text.split('\n') if options_text else [] %}
    {% set styles = build_styles(component, tokens) %}
    <div class="form-field chrome-target" data-component-id="{{ component_id }}"{% if styles %} style="{{ styles }} position: relative;"{% else %} style="position: relative;"{% endif %}>
        {% if label.show %}
            <label>{{ label.text | default('') }}</label>
        {% endif %}
        <select>
            {% for option in options_list %}
                <option>{{ option }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}
